<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head-section.html" . }}
</head>

<body id="top-of-page" class="has-navbar-fixed-top">

  <div id="page-content" class="container is-fluid">

    {{ partial "nav.html" }}

    {{ partial "hero.html" }}

    <div id="content-and-aside-columns" class="columns">

      <div id="content-column" class="column is-three-quarters">

        {{ block "main" .}}{{ end }}

      </div><!-- /.content-column -->

      <div id="aside-column" class="column" >
        {{ partial "aside.html" }}
      </div><!-- /.aside-column -->

    </div><!-- /.content-and-aside-columns -->

    {{ partial "footer.html" }}

  </div><!-- /.page-content -->

</body>
</html>
