        <aside>
          <div class="is-alert">
            <h4>Support me on Patreon!</h4>
            <p>
              If you enjoy Blitterated, help me make more great content.  Support me on Patreon.
              <br />
              <br />
              <a href="" data-patreon-widget-type="become-patron-button">Become a Patron someday!</a>
            </p>
          </div>

          <div id="mailchimp-embed" class="is-primary">

            <div id="mc_embed_signup">
              Embed mailchimp signup here
            </div><!-- /.mc_embed_signup -->
          </div><!-- /.mailchimp-embed -->
        </aside>
