    <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Home</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/categories/software/">Software</a>
          <a class="navbar-item" href="/categories/hardware/">Hardware</a>
          <a class="navbar-item" href="/categories/electronics/">Electronics</a>
          <a class="navbar-item" href="/categories/keyboards/">Keyboards</a>
          <a class="navbar-item" href="/categories/audio/">Audio</a>
          <a class="navbar-item" href="/blog/">Everything</a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item" href="search/">Search</a>
          <a class="navbar-item" href="contact/">Contact</a>
        </div>
      </div>
    </nav>
