    <nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="">Home</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="internet-of-things/">IoT</a>
          <a class="navbar-item" href="retro-computing/">Retro Computing</a>
          <a class="navbar-item" href="game-development/">Game Dev</a>
          <a class="navbar-item" href="software/">Software</a>
          <a class="navbar-item" href="blog/">All Articles</a>
        </div>
        <div class="navbar-start">
          <a class="navbar-item" href="search/">Search</a>
          <a class="navbar-item" href="contact/">Contact</a>
        </div>
      </div>
    </nav>
